* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* typography */
.logo {
    font-size: 24px;
    color: #f9faf8;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.secondary-text,
.nav-link,
.hero-btn {
    font-size: 18px;
    color: #e5e7eb;
}

.info-subtitle {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}
/* end typography */

/* hero section */
.hero {
    padding: 0 10%;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-link {
    text-decoration: none;
}

.hero-content {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4px 24px;
    border-radius: 6px;
    text-decoration: none;
    max-width: fit-content;
}
/* end hero */

/* information section */
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.info-subtitle {
    padding-bottom: 50px;
}

.info-container {
    display: flex;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 8px;
}

.card-img {
    border: 2px solid #3882f6;
    border-radius: 8px;
}
/* end information */